$header-bg: #686363;
$btn-hover-bg: #c9c9c9;
$btn-focus-shadow: #d8d8d8d3;
$option-hover-bg: #f5f4f4c5;
$option-focus-bg: #0285ff;
$option-focus-txt-color: #ffffff;
$header-font: roboto_medium;
$blur-for-window: rgba(0, 0, 0, 0.452);
$fill_close_btn: rgb(94, 94, 94);
$fill_hover_close_btn: rgb(0, 0, 0);
$input_focus_shadow: rgb(0, 85, 197);
$form_box_shadow_color: rgb(192, 192, 192);
$input_btn: rgb(107, 107, 116);
$input_btn_hover: rgb(88, 88, 94);
$input_btn_focus: rgba(159, 159, 172, 0.932);
$input_false_boxShadow: rgba(199, 0, 0, 0.842);
